<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <h1>{{ guestbook_name }}</h1>
    You are {{ name }}
    <hr>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign?{{enc_book_name}}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>
    <hr>
    <form>Guestbook name: <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch"></form>
    <hr>
    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>

